SERVICE_NAME=geodis-proxy
APP_PORT=8000

# Variables simuladas de entorno
DATABASE_URL=sqlite:///./dev.db
REDIS_HOST=localhost
REDIS_PORT=6379
FIRESTORE_CREDENTIALS_PATH=service-account.json
DOCKER_NETWORK=enviame
# App config
ENV=development
DEBUG=True


DB_ENGINE=mysql+pymysql
DB_USER=root
DB_PASSWORD=rootpass
DB_HOST=localhost
DB_PORT=3306
DB_NAME=mi_basededatos